<%- include("partials/header.ejs")  %> 


    <div class="container text-center" style="height: 50vh; margin-top: 130px;">
        <h1>About Relax</h1>
        <p class="mt-3">
            With Relax, easy to find the right music on your phone, your computer, your tablet and more.
            There are millions of songs on relax.
            I create relax with shazam api.
            you can search songs whatever you like,
            Listen for free.          
        </p>
    </div>

<%- include("partials/footer.ejs")  %> 