<%- include("partials/header.ejs")  %> 


    <div class="container mt-5">
    
        <div class="row">
            <% songs.forEach(function(song){ %>
            <div class="col-md-4 mb-5">
                <div class="card" >
                    <img src="<%= song.track.share.image %> " class="card-img-top" alt="...">
                    <div class="card-body">
                        <audio controls>
                            <source src="<%= song.track.hub.actions[1].uri %>" type="audio/mpeg" loop>
                            Your browser does not support the audio element.
                            </audio>
                    </div>
                  </div>
            </div>
            <% }) %>

        </div>
    </div>

<%- include("partials/footer.ejs")  %> 